.loginPage {
    background: url('Images/employee ms.jpeg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("Images/employee ms.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
}

.employee_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.empImg {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}